<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>怪物猎人：世界</string>
		<key>icon</key>
		<string>mhol</string>
	</dict>
	<dict>
		<key>name</key>
		<string>反恐精英：全球攻势</string>
		<key>icon</key>
		<string>csgo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>逃生2</string>
		<key>icon</key>
		<string>outlast</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模拟城市</string>
		<key>icon</key>
		<string>simcity</string>
	</dict>
	<dict>
		<key>name</key>
		<string>侠盗飞车5</string>
		<key>icon</key>
		<string>gta5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>弹丸论破</string>
		<key>icon</key>
		<string>danwan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>心跳文学部</string>
		<key>icon</key>
		<string>dokidoki</string>
	</dict>
	<dict>
		<key>name</key>
		<string>寂静岭</string>
		<key>icon</key>
		<string>silenthill</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑暗之魂2</string>
		<key>icon</key>
		<string>darksoul</string>
	</dict>
	<dict>
		<key>name</key>
		<string>巫师3</string>
		<key>icon</key>
		<string>witcher</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白色相簿</string>
		<key>icon</key>
		<string>white</string>
	</dict>
	<dict>
		<key>name</key>
		<string>赛尔号</string>
		<key>icon</key>
		<string>saier</string>
	</dict>
</array>
</plist>
